* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: #0f2027;
}

#form {
   width: 300px;
   margin: 20vh auto 0 auto;
   background-color: #f4f4f4;
   padding: 20px;
   font-size: 12px;
   border-radius: 7px;
}

#heading {
   color: #000;
   text-align: center;
   margin-bottom: 20px;
}

#form > button {
   width: 100%;
   margin-top: 10px;
   padding: 10px;
   color: #fff;
   background-color: #1877f2;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
}

#form > button:hover {
   background-color: #076df3;
}

#form select {
   width: 100%;
   padding: 10px;
   border-radius: 5px;
}

.input-control {
   display: flex;
   flex-direction: column;
   gap: 2px;
   margin-bottom: 7px;
}

.input-control > input {
   border-color: 2px solid #fff;
   font-size: 12px;
   display: block;
   padding: 10px;
   width: 100%;
}

.input-control > input:focus {
   outline: none;
}

input.valid {
   border-color: #09c372;
}

input.valid:focus {
   border-color: #09c372;
}

input.invalid {
   border-color: #ff3860;
}

input.invalid:focus {
   border-color: #ff3860;
}
